.container
    .col-md-4.col-md-offset-4.text-center
        h1.text-center.well Photos
    //.container.mrg-btm
    //    button.btn.btn-info.col-md-1.col-md-offset-8(ng-click='decreasePage()',ng-disabled='page <=1') Prev
    //    .col-md-2
    //        input.form-control.text-center(ng-model='page', type='number', min='1',placeholder="Page")
    //    button.btn.btn-info.col-md-1(ng-click='increasePage()', ng-disabled="photos.length ==0") Next

    .jumbotron.info
        .container
        table.table.table-striped.table-hover.table.table-bordered.text-center
            thead
                tr.success
                    th.text-center.col-md-2
                        | Photo
                    th.text-center.col-md-2
                        | Author
                    th.text-center.col-md-2
                        | Publish Date
                    th.text-center.col-md-1
                        | Action
            tr(ng-repeat="photo in photos")
                td
                    img.mrg-btm(ng-src="{{photo.pictureUrl}}", width="200px", height="200px",ng-click="redirectToDetails(photo._id)")
                td
                    | {{photo.authorName}}
                td
                    | {{photo.published | date:'medium'}}
                td
                    button.btn.btn-info(ng-click="updatePhoto(photo)") Approve
                    button.btn.btn-warning(ng-click="deletePhoto(photo._id)") Delete


        h2.text-center(ng-show="photos.length ==0") No More Photos To Approve
