.container
    br
    .row
        .col-md-7
            img(src="{{ photo.pictureUrl }}" width="100%" alt="{{ photo.title }}")
        .col-md-5.bs-component
            .panel.panel-default
                .panel-heading
                    h2.text-center
                        | {{ photo.title }}
                .panel-body
                    ul.list-group
                        li.list-group-item
                            | Author: {{ photo.authorName }}
                        li.list-group-item
                            | Published on: {{ photo.published | date:'dd - MMMM - yyyy' }}
                        li.list-group-item
                            | Category: {{ photo.category }}
                        li.list-group-item
                            | Tags: {{ photo.tags.join(', ') }}
                        li.list-group-item
                            | Downloads: {{ photo.downloadsCount || 0 }}
                        li.list-group-item
                            | Price: {{ photo.price || 0 | currency:'$' }}
                        button.btn.btn-primary(ng-show="identity.isAuthenticated()", data-target="#buyPhoto", data-toggle="modal")
                            | {{buttonText()}}
                        #buyPhoto.modal.fade(role='dialog', aria-labelledby='buyLabel', aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal')
                                            span(aria-hidden='true')
                                                | ×
                                            span.sr-only
                                                | Close
                                        h4.modal-title
                                            | Confirm
                                    #buyLabel.modal-body
                                        | Are you sure you want to {{buttonText()}} this photo.
                                    .modal-footer
                                        button.btn.btn-default(type='button', data-dismiss='modal')
                                            | Close
                                        button.btn.btn-default(type="button", ng-click="download()", ng-click="alert(5)")
                                            | {{buttonText()}}
                        button.btn.btn-warning(ng-show="identity.isAuthorizedForRole('admin')", data-target="#deletePhoto", data-toggle="modal")
                            | Delete
                        #deletePhoto.modal.fade(role='dialog', aria-labelledby='deleteLabel', aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal')
                                            span(aria-hidden='true')
                                                | ×
                                            span.sr-only
                                                | Close
                                        h4.modal-title
                                            | Confirm
                                    #deleteLabel.modal-body
                                        | Are you sure you want to DELETE this photo.
                                    .modal-footer
                                        button.btn.btn-default(type='button', data-dismiss='modal')
                                            | Close
                                        button.btn.btn-default(type="button", ng-click="deletePhoto(photo._id)")
                                            | Delete