.container
    br
    .row
        .col-md-7
            img(src="{{ photo.pictureUrl }}" width="100%" alt="{{ photo.title }}")
        .col-md-5.bs-component
            .panel.panel-default
                .panel-heading
                    h2.text-center
                        | {{ photo.title }}
                .panel-body
                    ul.list-group
                        li.list-group-item
                            | Author: {{ author.username }}
                        li.list-group-item
                            | Published on: {{ photo.published | date:'dd - MMMM - yyyy' }}
                        li.list-group-item
                            | Category: {{ photo.category }}
                        li.list-group-item
                            | Tags: {{ photo.tags.join(', ') }}
                        li.list-group-item
                            | Downloads: {{ photo.downloadsCount || 0 }}
                        li.list-group-item
                            | Price: {{ photo.price || 0 | currency:'$' }}
                    button.btn.btn-primary(ng-click="buy()", ng-show="!isBought()")
                        | Buy now!
                    button.btn.btn-primary(ng-click="download()", ng-show="isBought()")
                        | Download!