.container
    h1.text-center Photos
    .container
        .col-md-4(ng-repeat="photo in photos")
            a(href="#/photos/{{ photo._id }}") {{ photo.title }}
            div
                img(src="{{photo.pictureUrl}}", width="200px", height="200px")
