.container
    h1.text-center Photos
    .container.mrg-btm
        button.btn.btn-info.col-md-1.col-md-offset-8(ng-click='decreasePage()',ng-disabled='page <=1') Prev
        .col-md-2
            input.form-control.text-center(ng-model='page', type='number', min='1',placeholder="Page")
        button.btn.btn-info.col-md-1(ng-click='increasePage()', ng-disabled="photos.length ==0") Next

    .jumbotron.info
        .row
            .col-md-4(ng-repeat="photo in photos")

                img.mrg-btm(src="{{photo.pictureUrl}}", width="300px", height="300px",ng-click="redirectToDetails(photo._id)")

        h2.text-center(ng-show="photos.length ==0") No More Photos
