extends includes/layout
block main-content
    header.navbar-default
        .container.mrg-btm
            .navbar-header
                a.navbar-brand(href="#/") Photo Dealer
            button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-responsive-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar

            .navbar-collapse.collapse.navbar-responsive-collapse
                ul.nav.navbar-nav
                    li
                        a(href="#/") Home

                    li
                        a(href="#/courses") Courses TO DELETE!
                    li
                        a(href="#/photos") Photos
                div(ng-include="'partials/account/login'")

    section
        div(ng-view)

    footer
        p.text-center
            | &reg; Team MUSES Telerik Academy 2014