doctype
html
    head
        title Photo Dealer
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/css/site.css")
        link(href='http://cdn.kendostatic.com/2014.2.1008/styles/kendo.common.min.css', rel='stylesheet')
        link(href='http://cdn.kendostatic.com/2014.2.1008/styles/kendo.default.min.css', rel='stylesheet')
        link(href='http://cdn.kendostatic.com/2014.2.1008/styles/kendo.dataviz.min.css', rel='stylesheet')
        link(href='http://cdn.kendostatic.com/2014.2.1008/styles/kendo.dataviz.default.min.css', rel='stylesheet')

    body(ng-app="app")
        block main-content
        include scripts