.container
    .well
        h1.text-center
            | Photo Dealer
    .row
        .col-md-6
            .panel.panel-default
                .panel-heading.text-center
                    | Most popular photos
                .panel-body(ng-include="'/partials/main/popular-photos'")
        .col-md-6
            .panel.panel-default
                .panel-heading.text-center
                    | Newset photos
                .panel-body(ng-include="'/partials/main/new-photos'")