.row
    div(ng-repeat="photo in latestPhotos")
        .col-md-6.text-center
            | {{ photo.published | date: 'dd/MM/yyyy HH:mm' }}
            a(href="#/photos/{{ photo._id }}")
                img(ng-src="{{ photo.pictureUrl }}" width="230px" height="170px")