.row
    div(ng-repeat="photo in popularPhotos")
        .col-md-6.text-center
            | Downloads: {{ photo.downloadsCount }}
            a(href="#/photos/{{ photo._id }}")
                img(src="{{ photo.pictureUrl }}" width="100%")